.project-section{
    margin-top: 8rem;
    padding: 2rem 0rem;
}

.project-section span{
    font-size: 1.6rem;
}

.project-section h2{
    font-size: 2rem;
}

.project {
    background-color: aqua !important;
    /* margin-bottom: 4rem; */
    /* height: 5rem; */
}

.project-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 0 auto;
    width: 85%;
    height: fit-content;
    background-color: antiquewhite;
}
