.project-section{
    margin-top: 8rem;
    padding: 2rem 0rem;
}

.project-section span{
    font-size: 1.6rem;
}

.project-section h2{
    font-size: 2rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    background-color: #1e2d49;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    padding: 2.5rem 1.5rem;
    height: 20.5rem;
}

.project-card:hover {
    transform: translateY(-10px);
    /* Enhance the box shadow on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.project-card .imgs{
    display: flex;
    justify-content: space-between;
}

.project-card .imgs svg path {
    transition: color 0.4s ease;
}

.project-card .imgs svg:hover path{
    fill: #FFD700;
}

.color-change-svg {
    color: #B0BEC5;
    transition: color 0.3s ease;
  }
  .color-change-svg:hover {
    color: #FF5722;
  }

.project-card .info{
    margin-top: 1.5rem;
}

.project-card .info h2{
    font-size: 1.3rem;
}

.project-card .info p{
    font-size: 0.9rem;
    margin-top: 1rem;
}

.project-card .tech{
    margin-top: auto;
    font-size: 0.8rem;
}

.project-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 0 auto;
    width: 95%;
    height: fit-content;
    /* background-color: antiquewhite; */
}