.header {
  background-color: #000;
  color: #F6F4D2;
  text-align: center;
  padding-top: 12%;
  padding-bottom: 11%;
}

.logo {
  animation: rotation 10s infinite linear;
  border-radius: 15%;
}

@keyframes rotation {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.logo:hover {
    box-shadow: 0 0 30px #F6F4D2;
    transition: 0.8s;  
}

.name{ 
  font-size: 162px;
}

.title {
  font-size: 84px;
}